
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.div1{
    width:350px;
}


.Buy{
    background-color: green;

}

.Buy:hover{
    background-color: lightsalmon;
}

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: chocolate;
}


.part1{
    background-image: url("../img/body.jpg");
    background-size: cover;
    height:550px;
   padding: 1%;

}

 .nav{
  display: flex;
  justify-content: space-between;

  color: aliceblue;
  background-color: #b35900;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
} 
 
.nav .title{
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
   
}
.nav .title:hover{
    color:#33ccff;
   
}
.nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
    text-align:center;
}
nav ul li{
    margin: auto;
    padding: 2%;
}
nav ul li:hover {
    background-color:#33ccff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.nav form{
    width: 10%;
    text-align: center;
    margin-top: 1.3%;
    margin-right: 2%;
}
.nav .but{
    background-color:#0052cc;
    padding:8px;
    color: aliceblue;
    font-weight: bold;
    margin-right: 4%;

    text-decoration: none;

}
.nav .but:hover{
    background-color: rgb(6, 245, 85);
}
/* **************************************************************************   */
.part2 {
  color: aliceblue;
}


.part2 h1{
    text-align: center;
    margin: 2%;
    padding: 2%;
}
.part2 .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.part2 .container .card{
    width: 28%;
  display: flex;
flex-direction: column;
align-content: space-between;
border: 2px solid #33ccff;
padding: 0.5%;
border-radius: 5%;
background-color: #4d4dff;
margin: 1%;

box-shadow: 7px 7px 3px grey

  
}
.card img{
    width: 100%;
    height: 300px; 
    border-radius: 5%;
}
.card h3{
    margin: 1%;
   
}
.card p{
    padding: 2%;
   
}
.card .price{
    color: #03fc24;
    font-weight: bold;
    font-size:xx-large;
}
.card .buy{
    background-color:#f70441;
    padding:8px;
    color: aliceblue;
    font-weight: bold;
    margin: 4% 4% 2% 4%;
    text-decoration: none;
    width: 20%;
    text-align: center;
}
.card .buy:hover{
    background-color: rgb(6, 245, 85);
}